$white: #ffffff;
$black: #000000;
$gray-950: #050509;
$gray-900: #202121;
$gray-800: #343541;
$gray-700: #40414f;
$gray-600: #565869;
$gray-500: #8e8ea0;
$gray-400: #acacbe;
$gray-300: #c5c5d2;
$gray-200: #d9d9e3;
$gray-100: #ececf1;
$gray-50: #f7f7f8;
$green-accent: #0fa47f;
$green-dark: #00796d;
$green-bright: #8dcdb8;
$yellow: #ffcc7e;
$red: #e46868;
$green: #5bba64;

$theme-colors: (
  "text": (
    "light": $gray-900,
    "dark": $gray-100,
  ),
  "background": (
    "light": $white,
    "dark": $gray-800,
  ),
  "themeModeBar": (
    "btn-active-bg": $white,
    "bg": $gray-50,
    "text": $gray-400,
    "text-active": $gray-900,
    "dark-btn-active-bg": $gray-700,
    "dark-bg": $gray-900,
    "dark-text": $gray-400,
    "dark-text-active": $white,
  ),
);

@function theme-color($key: "primary", $variant: "base") {
  $map: map-get($theme-colors, $key);
  @return map-get($map, $variant);
}
