$black: #000000;
$dark: #202123;
$middle: #343541;
$bright: #444654;

$gray-footprint: #9a9b9f;
$gray-icons: #c5c5d1;
$bright-gray: #ececf1;
$white: #ffffff;

$accent-green: #0fa47f;
$dark-green: #00897b;
$bright-green: #8dcdb8;
