$black: #000000;
$gray-900: #111827;
$gray-800: #1f2937;
$gray-700: #374151;
$gray-600: #4b5563;
$gray-500: #6b7180;
$gray-300: #d1d5db;
$gray-200: #e5e7eb;
$white: #ffffff;

/* menuBar */
$menuBar-background: #202123;
$menuBar-white: #ececf1;
