@use "color";
@use "util";

footer {
  display: flex;
  justify-content: center;
  margin: util.rem(16px) 0;

  p {
    text-align: center;
  }
}

.full {
  align-items: flex-end;
  height: 100%;
}

.wrap {
  font-size: util.rem(15px);
  color: color.$gray-600;
  font-family: Arial;

  .strong {
    color: color.$green-accent;
    font-weight: 600;
  }
}
