@use "color";
@use "util";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: util.rem(16px) 0;
}

.wrap {
  font-size: util.rem(15px);
  color: color.$gray-600;
  font-family: Arial;

  .strong {
    color: color.$green-accent;
    font-weight: 600;
  }
}
