@use "color";
@use "util";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

:root[data-theme="light"] {
  background: color.theme-color("background", "light");
  color: color.theme-color("text", "light");
  transition: all 0.2s;
}

:root[data-theme="dark"] {
  background: color.theme-color("background", "dark");
  color: color.theme-color("text", "dark");
  transition: all 0.2s;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-style: normal;
  font-size: util.rem(16px);
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: util.rem(420px)) {
  html {
    font-size: 12px;
  }
  svg {
    width: util.rem(16px);
    height: util.rem(16px);
  }
}
