@use "color";
@use "util";

.main {
  height: 100%;
}

.main_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 util.rem(16px);
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  &__head {
    color: color.$gray-600;
    font-family: Arial;
    font-size: util.rem(94px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: util.rem(21px);
  }

  &__sub {
    color: color.$gray-500;
    text-align: center;
    font-family: Arial;
    font-size: util.rem(24px);
    font-style: normal;
    font-weight: 700;
    line-height: 147.49%;
    letter-spacing: util.rem(10.8px);
    margin: 0;
  }
}

.main-below {
  margin: 0 auto;
}

.menu {
  &_inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
}

.item {
  border-radius: 10px;
  border: 1px solid color.$gray-300;
  flex-basis: 50%;
  padding: util.rem(15px) util.rem(15px) util.rem(15px);

  &__group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }

  &__title {
    color: color.$gray-800;
    font-size: util.rem(16px);
    font-weight: 500;
    line-height: normal;
    margin-bottom: util.rem(5px);
  }

  &__description {
    color: color.$gray-600;
    font-size: util.rem(14px);
    line-height: normal;
    text-wrap: nowrap;
  }

  &:hover {
    background-color: color.$gray-50;
  }
}

.input {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: util.rem(766px);

  &__inner {
    position: relative;
  }

  &--box {
    width: 100%;
    height: util.rem(66px);
    border-radius: 10px;
    border: 1px solid color.$gray-300;
    background: color.$white;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    color: color.$gray-500;
    padding: 1.25rem;
  }

  &--type {
    color: color.$gray-600;
    font-size: util.rem(16px);
    position: absolute;
    top: util.rem(23px);
    left: util.rem(20px);
  }

  &--icon {
    position: absolute;
    top: util.rem(16px);
    right: util.rem(18px);

    svg {
      fill: color.$gray-400;
    }
  }
}

html[data-theme="dark"] {
  .title {
    &__head {
      color: color.$gray-400;
    }

    &__sub {
      color: color.$gray-500;
    }
  }

  .item {
    border: 1px solid color.$gray-500;

    &__title {
      color: color.$gray-100;
    }

    &__description {
      color: color.$gray-400;
    }

    &:hover {
      background-color: rgba(color.$gray-600, 0.5);
    }
  }

  .input {
    &--box {
      border: 1px solid color.$gray-600;
      background: color.$gray-600;
      box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    }

    &--type {
      color: color.$gray-300;
    }

    &--icon {
      svg {
        fill: color.$gray-300;
      }
    }
  }
}

@media screen and (max-width: util.rem(1023px)) {
  .item {
    width: 100%;

    &__group {
      flex-direction: column;
    }
  }
  .main-below {
    margin: 0;
  }
  .input {
    width: 100%;
  }
}

@media screen and (max-width: util.rem(767px)) {
  .item {
    h2 {
      margin: 0;
    }
    &__group {
      flex-direction: row;
    }
    &__description {
      display: none;
    }
  }

  .title {
    &__head {
      font-size: util.rem(47px);
      margin-bottom: util.rem(10px);
    }

    &__sub {
      font-size: util.rem(14px);
      letter-spacing: util.rem(6px);
    }
  }
}

@media screen and (max-width: util.rem(420px)) {
  .input--icon {
    top: 1.3rem;
  }
}
