@use "color";
@use "util";

.header {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;

  .bar {
    display: flex;
    gap: util.rem(8px);

    &_light,
    &_dark {
      button {
        display: flex;
        align-items: center;
        padding: util.rem(10px) util.rem(20px);
        gap: util.rem(6px);
        border: none;
        border-radius: util.rem(10px);
        cursor: pointer;
        svg {
          fill: color.theme-color("themeModeBar", "text");
        }
        span {
          color: color.theme-color("themeModeBar", "text");
        }
      }
    }
    &_wrapper {
      padding: util.rem(6px);
      background-color: color.theme-color("themeModeBar", "bg");
      border-radius: util.rem(10px);
    }
  }

  .active {
    button {
      background-color: color.theme-color("themeModeBar", "btn-active-bg");
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
      span {
        color: color.theme-color("themeModeBar", "text-active");
      }
      .icon {
        &_sun {
          fill: #ffcc7e;
        }
        &_moon {
          fill: #1e40af;
        }
      }
    }
  }

  /* 다크모드 색상 */
  &.dark {
    button {
      svg {
        fill: color.theme-color("themeModeBar", "dark-text");
      }
      span {
        color: color.theme-color("themeModeBar", "dark-text");
      }
    }
    .bar {
      &_wrapper {
        background-color: color.theme-color("themeModeBar", "dark-bg");
      }
    }

    .active {
      button {
        background-color: color.theme-color(
          "themeModeBar",
          "dark-btn-active-bg"
        );
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
        span {
          color: color.theme-color("themeModeBar", "dark-text-active");
        }
      }
      .icon {
        &_sun {
          fill: #ffcc7e;
        }
        &_moon {
          fill: #1e40af;
        }
      }
    }
  }
}
